{% extends "main.html" %}

{% block title %}Section{% endblock %}

{% block inner_content %}


  <style type="text/css">
    .course-menu .btn {
      margin-bottom: 20px;
    }
    .info{
      font-size: 20px;
    }
  </style>

  <div class="row">
    <div class="col-md-3 course-menu">
      <p class="bg-primary info">Course Name </p>
      <p class="bg-primary info">Teacher Name </p>
      <button type="button" class="btn btn-primary btn-block">Files</button> 
      <button type="button" class="btn btn-primary btn-block">Messages</button>
      <button type="button" class="btn btn-primary btn-block">Events</button>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
        </p>
    </div>
  </div>






{% endblock %}