{% extends "course/template.html" %}

{% block course_content %}

  <h2>{{ course.department_code }}{{ course.course_code }} {{ course.title }}</h2>
  <h2>Sections:</h2>
  <div class="list-group">
    {% for section in sections %}
      <a href="/section/{{ section.id }}" class="list-group-item">{{ course.department_code }}{{ course.course_code }} {{ course.title }}  - {{ section.crn }}  {{section.building}} {{section.room}} {{ section.time}} {{ section.day }} {{section.get_teacher().name}}</a>
    {% endfor %}
  </div>

  </dl>
{% endblock %}


