{% extends "course/template.html" %}

{% block course_content %}
  <p>
    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea
  </p>
{% endblock %}


{% block title %} {{ course.title }} {% endblock %}

{% block inner_content %}


<div class="row">
    <div class="col-md-4">
      <div class="row"><h4>Course Code:</h4>
        <div class="col-md-3">
          <div class="form-group">
           <label for="exampleFormControlSelect1">Course:</label>
           <select class="form-control form-control-sm" id="exampleFormControlSelect1">
             <option>BLG</option>
             <option>AKM</option>
             <option>TRF</option>
             <option>TNT</option>
           </select>
          </div>
        </div>
        <div class="col-md-3">
          <form>
           <div class="form-group">
             <label class="col-form-label" for="formGroupExampleInput">Code:</label>
             <input type="text" class="form-control" id="formGroupExampleInput" placeholder="361E">
           </div>
          </form>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        

        <div class="col-md-6">
          <form>
           <div class="form-group">
             <label class="col-form-label" for="formGroupExampleInput">Teacher:</label>
             <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Teacher Name">
           </div>
          </form>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <form>
           <div class="form-group">
             <label class="col-form-label" for="formGroupExampleInput">Files:</label>
             <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Teacher Name">
           </div>
          </form>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>

    <div class="col-md-8">
      <h2 class="text-center">Course Information</h2>
    </div>
  </div>




  <style type="text/css">
    .course-menu .btn {
      margin-bottom: 20px;
    }
    .info{
      font-size: 20px;
    }
  </style>

  <div class="row">
    <div class="col-md-3 course-menu">
      <p class="bg-primary info">Course Name </p>
      <p class="bg-primary info">Teacher Name </p>
      <button type="button" class="btn btn-primary btn-block">Files</button> 
      <button type="button" class="btn btn-primary btn-block">Messages</button>
      <button type="button" class="btn btn-primary btn-block">Events</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea 
        </p>
    </div>
  </div>






{% endblock %}