{% import "bootstrap/wtf.html" as wtf %}
{% extends "course/template.html" %}

{% block course_content %}

  <h2>Messages</h2>

  {% if threads|length > 0 %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
          <th>Total Messages</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for thread in threads %}
            <tr>
              <td>{{thread.user.username}}</td>
              <td>{{thread.title}}</td>
              <td>{{thread.message}}</td>
              <td>{{thread.message_count()}}</td>
              <td>
                <a href="/course/{{course.id}}/messages/{{thread.id}}" class="btn btn-xs"><span class="glyphicon glyphicon-arrow-right"></span></a>
              </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
      <p>No message of the desired type. ERRNO: -ENOMSG</p>
  {% endif %}

  {% if current_user.is_authenticated %}
  <div class="new-thread">
    <h3>Add New Message</h3>
    {{ wtf.quick_form(form) }}
  </div>
  {% endif %}


{% endblock %}
