{% extends "main.html" %}

{% block title %}Teacher{% endblock %}

{% block inner_content %}
  

  
  <!-- Teacher Page  -->


  <style type="text/css">
    .teach-menu .search-teacher {
      margin-top: 50px;
    }
    .info{
      margin-top: 50px; 
    }
    .info2{
      margin-top: 30px;
    }
  </style>


  <div class="row">

    <div class="col-md-3">

      <form action="/teacher/search"> 

           <label class="col-form-label" for="formGroupExampleInput">Search Other Teachers:</label> 
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." name="query">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button "><span class="glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
       </form>

    </div>

    <div class="col-md-1"></div>

    <div class="col-md-8">
      <div class="row">
        <div class="col-md-4">

          <div class="media">
            <div class="media-body">      
          
              <div class="media text-left">
                <a href="#">
              
                  <img class="img-circle" src="http://muh.klu.edu.tr/yonetim/dosyalar/birimler/muh/resimler/muh_kr_11-08-2014_d0f3b.jpg" alt="sabih" width="210" height="236">
                </a>

              </div>
          
            </div>
        
          </div>   <!-- media -->   
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Ahmet Sabih Atadan</h2>
        </div>  
      </div>     <!-- inner row -->
    
      <!-- resmin altı -->

      <u><h3>Courses:</h3></u>

          {% if courses|length > 0 %}
          <ul>
            {% for course in courses %}
              <li><a href="/course/{{ teacher.id }}" class="list-group-item">{{ course.title }}</a></li>
            {% endfor %}
          </ul>

          {% else %}

          <p>No course found</p>
          {% endif %}

    </div>      
  </div>  <!-- row -->










{% endblock %}
