{% extends "main.html" %}

{% block title %}Course Search{% endblock %}

{% block inner_content %} 





<form action="/teacher/search">
 <div class="form-group">
   <label class="col-form-label" for="formGroupExampleInput">Teacher:</label>
   <input type="text" class="form-control" name="query" placeholder="Teacher Name" value="{{query}}">
 </div>
</form>

search query: {{ query }}

{% if teachers|length > 0 %}
<ul>
  {% for teacher in teachers %}
    <li><a href="/teacher/{{ teacher.id }}" class="list-group-item">{{ teacher.name }}</a></li>
  {% endfor %}
</ul>

{% else %}

<p>No teacher found</p>
{% endif %}



{% endblock %}