{% extends "main.html" %}
{% block title %}Palmyra - ITU Course & Teacher Database{% endblock %}
{% block inner_content %}
  <!-- ANASAYFA  -->
  <div id="home-header">
    <h1 class="text-center">PALMYRA</h1>
    <h2 class="text-center">ITU Course & Teacher Database</h2>
    <p class="text-center">Palmyra is course, teacher, section database mirror of ITU with files and messages feature.</p>
  </div>
  <div class="row" id="home-search">
    <div class="col-md-4">
      <form action="/course/search">
        <label class="col-form-label" for="formGroupExampleInput">Course:</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." name="query">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button "><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
    <div class="col-md-4">
      <form action="/teacher/search">
        <label class="col-form-label" for="formGroupExampleInput">Teacher:</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." name="query">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button "><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div>
    <div class="col-md-4">
      <form action="/course/find" class='form-inline'>
        <label>Find Course Directly:</label>
        <div>
          <div class="form-group">
            <select class="form-control form-control-sm" name='department_code'>
              {% for department_code in department_codes %}
                <option>{{ department_code[0] }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name='course_code' placeholder="361E">
          </div>

          <div class="form-group">
            <input type="submit" value="Find", class='btn btn-primary'>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" id="homepage-datas">
    <div class="col-md-4">
      <h3>Latest Sections</h3>
      <div class="list-group">
        {% for section in sections %}
          <a href="/section/{{ section.id }}" class="list-group-item">{{ section.get_course().department_code }}{{ section.get_course().course_code }} {{ section.get_course().title }}  - {{ section.crn }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h3>Latest Courses</h3>
      <div class="list-group">
        {% for course in courses %}
          <a href="/course/{{ course.id }}" class="list-group-item">{{ course.department_code }}{{ course.course_code }} {{ course.title }}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h3>Latest Teachers</h3>
      <div class="list-group">
        {% for teacher in teachers %}
          <a href="/teacher/{{ teacher.id }}" class="list-group-item">{{ teacher.name }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
