{% extends "main.html" %}
{% block title %}Test{% endblock %}

{% block inner_content %}
  {% if current_user.is_authenticated %}
    <h1>Hello, {{current_user.username}}</h1>
    <p>{{ current_time }} - {{ current_user.email }}</p>
  {% else %}
    <h1>Hello</h1>
    <p>{{ current_time }}</p>
  {% endif %}

  <p>{{ teacher.name }}</p>
  <p>{{ course.course_code }}  {{ course.title }}</p>
  <p>{{ section.id }}  {{ section.crn }}</p>

  {% for grade in grades %}
      <div class=flash>{{ grade.id }}</div>
  {% endfor %}


  <p>{{ grade.id }} from {{ grade.teacher().name }} : AA : {{ grade.AA_count }}</p>

{% endblock %}

